<h3>Top Three Companies</h3>
<% @companies.each do |company| %>
  <ul><%= company.name %></ul>
  <ul><%= company.average_interest %></ul>
<% end %>

<% @jobs.each do |job| %>
  <%= link_to job[0], "/jobs?location=#{job[0]}" %>: <%= job[1] %>
<% end %>