All Jobs

<% @jobs.each do |job| %>
  <p>
    <%= link_to job.title, job_path(job) %> at <%= link_to job.company.name, company_path(job.company) %>
    <%= link_to "Edit", edit_job_path(job) %>
    <%= link_to "Delete", job_path(job), method: "delete" %>
  </p>
<% end %>
