All Jobs

<% @jobs.each do |job| %>
  <p>
    <%= link_to edit_job_path(job), class: "btn btn-default edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>

    <%= link_to job_path(job), method: 'delete', class: "btn btn-default delete" do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>

    <%= link_to job.title, job_path(job) %> at <%= link_to job.company.name, company_path(job.company) %>
  </p>
<% end %>
